<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz sobre Lixo Digital</title>
    <link rel="stylesheet" href="../statics/css/quiz.css">
</head>
<body>
    <div class="quiz-container">

        <!-- Elemento para mostrar a pergunta -->
        <h2 id="question">Pergunta aqui...</h2>
        
        <!-- Div para mostrar as respostas -->
        <div id="answers"></div>

        <!-- Feedback após a resposta -->
        <p id="feedback"></p>

        <!-- Botão para a próxima pergunta -->
        <button id="next-btn">Próxima Pergunta</button>

    </div>
    <script src="../statics/js/quiz.js"></script>
</body>
</html>
